$navbar-default-bg:#1b1423;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase ;
  letter-spacing: -1px;
  font-weight: bold;
}
#logo{
  color: fff;
  text-decoration: none;
  
}

.center{
  text-align: center;
}
.jumbotron{
  background-image: asset-url('new_cover_page.png');
  background-size: cover;
  height: 550px;
}
.jumbotron h1{
  color: white;
  text-transform: uppercase ;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 30px;
}
.article-meta-description{
  border-top: 1px solid #bbc3ce ;
  margin-top: 15px;
}
.page-actions{
  border-top: 1px  solid #bbc3ce ;
  padding-top: 5px;
}
.page-title{
  font-weight: bold;
  font-size: 1.5em;
}
.page-body{
  border-top: 1px solid #bbc3ce ;
  padding-top: 5px;
  padding-bottom: 15px;
  
} 
.description{
  margin-top: 0;
}
.listing{
  list-style: none;
  padding-left: 0;
}
footer{
  margin-top: 45px;
  margin-bottom: 5px;
  border-top : 2px solid #bbc3ce ;
  text-decoration: none;
  color: #777;
}
footer li{
  text-decoration: none;
  float: right;
  list-style: none;
  margin-top: -30px;
}